@{
    ViewData["Title"] = "About";
}
  <div class="container">
    <h1 class="text-center mt-5">猩猩點燈-玩法</h1>
    <p class="text-center">我們提供兩種玩法：</p>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card mb-3">
          <div class="card-body">
            <h3 class="text-center">玩法一：問問題</h3>
            <p class="text-center">按下「呼叫猩猩」按鈕，然後在下方輸入框中輸入你想問猩猩的問題，猩猩會回答你的問題。</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 offset-md-3">
        <div class="card">
          <div class="card-body">
            <h3 class="text-center">玩法二：計算香蕉數量</h3>
            <p class="text-center">按下「計算香蕉數量」按鈕，並在下方輸入框中輸入你想計算的香蕉數量，格式為「數字+數字」，例如「2+3」，猩猩會告訴你香蕉的總數量。</p>
          </div>
        </div>
      </div>
    </div>
  </div>